/* 全体の一覧画面のCSS */
.room-card {
  box-shadow: 1px 1px 5px 0px #0000004d;
  border-radius: 10px;
  width: 30%;
  min-width: 200px;
  margin: 15px 15px 30px 15px;
  background-color: #fff;
  overflow: auto;
}
.room-name {
  height: 75px;
  font-size: 30px;
  line-height: 75px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}
.room-status-available .room-name {
  background-color: #78a086;
}
.room-status-using .room-name {
  background-color: #fcac36;
}
.room-status-unavailable .room-name {
  background-color: #d85b40;
}
.room-status {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.room-status-available .room-status {
  color: #78a086;
}
.room-status-using .room-status {
  color: #fcac36;
}
.room-status-unavailable .room-status {
  color: #d85b40;
}
.room-status p {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.room-status p span {
  font-size: 18px;
  display: block;
  font-weight: bold;
}
.room-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5fa;
  margin: 15px;
  padding: 10px 20px;
  border-radius: 10px;
}
.room-schedule-ptitle {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  position: relative;
  margin: 10px 0 0 0;
}
.room-schedule-ptitle::before {
  content: "";
  width: 50px;
  height: 3px;
  position: absolute;
  left: calc(50% - 25px);
  bottom: -7px;
}
.room-status-available .room-schedule-ptitle::before {
  background-color: #78a086;
}
.room-status-using .room-schedule-ptitle::before {
  background-color: #fcac36;
}
.room-status-unavailable .room-schedule-ptitle::before {
  background-color: #d85b40;
}
.room-schedule-detail {
  margin: 40px 0 40px 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
}
.room-schedule-detail div {
  flex-grow: 1;
}
.room-schedule-detail .event-time {
  font-size: 25px;
  text-align: center;
}
.room-schedule-detail .event-title {
  text-align: center;
  margin-bottom: 20px;
}
.room-schedule-detail .no-schedule {
  text-align: center;
}
.room-schedule-detail i {
  margin: 5px 10px 0 0;
  width: 15px;
}
.room-schedule-detail .event-creator {
  display: flex;
}

/* 部屋の詳細画面のCSS */
.room-dashboard .room-card {
  width: calc(100% - 30px);
  min-width: 350px;
}
.room-dashboard .room-status {
  height: 195px;
  color: #fff;
  border-radius: 10px 10px 0 0;
}
.room-dashboard .room-status-available .room-status {
  background-color: #78a086;
}
.room-dashboard .room-status-using .room-status {
  background-color: #fcac36;
}
.room-dashboard .room-status-unavailable .room-status {
  background-color: #d85b40;
}
.room-dashboard .room-schedule {
  background-color: #fff;
}
