* {
  margin: 0px;
  padding: 0px;
}
h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  padding: 0 15px;
  color: #828dcf;
}
.container {
  display: flex;
  flex-direction: row;
  color: #414141;
  width: 100vw;
  font-size: 18px;
}

.main-content {
  background-color: #f3f5fa;
  padding: 30px 40px;
  width: calc(100% - 200px);
}
